/*Global Rules*/
:root{
    --main-color :#6C63FF;
}
::placeholder{
    color: #333;
    opacity: .5;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor-pointer{
    cursor: pointer;
}
.text-center{
    text-align: center;
}
.label{
    margin-bottom: 5px;
    text-transform: capitalize;
    color: #555;
}
.input{
    padding: 10px 15px 10px 32px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: 0;
}
.submit-input{
    display: inline-block;
    width: max-content;
    margin-left: auto;
    border: 1px solid transparent;
    background-color: var(--main-color,#6C63FF);
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    outline: O;
}
.input:focus{
    border-color: var(--main-color,#6C63FF) ;
}
.img-container img{
    width: 100%;
    object-fit: cover;
}
/*Auth styles*/
.login-body{
    min-height: 100vh;
}
.auth-link{
    color: var(--main-color,#6C63FF);
}
.form-auth{
    flex: 1;
}
.form-auth .img-container{
    flex: 1;
}
@media (max-width: 768px) {
    .form-auth .img-container{
        flex: 0;
        display: none;
    }
}
.form-auth .form-container{
    flex: 1;
}
.form-container h1{
    margin-bottom: 5px;
    color: #555;
}
.form-container h1 span{
    color: var(--main-color);
}
.form-container p{
    color: #555;
    margin-bottom: 40px;
}
.form-auth form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form-group{
    position: relative;
}
.form-group input{
    width: 100%;
}
.form-group i {
    position: absolute;
    top: 12px;
    left: 10px;
    color: var(--main-color);
}
.form-error{
    padding: 5px;
    color: #713434;
    background-color: #ffeaea;
    border-radius: 4px;
    margin: 10px 0;
}
/*navbar styles*/
.home-body{
    min-height: 100vh;
    background-image: url("../images/search.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.header-nav{
    position: relative;
    box-shadow: 7px 1px 5px rgba(0,0,0,.1);
    z-index: 9999;
}
.nav-bar{
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-mobile button{
    background-color: #fff;
    color: var(--main-color);
    outline: 0;
    border: 1px solid #fff;
    padding: 5px;
    cursor: pointer;
    display: none;
}
.nav-mobile button:hover,
.nav-mobile button:focus{
    border-color: var(--main-color);
}
.nav-title a{
    text-decoration: none;
    color: #666;
    font-size: 30px;
}
.nav-title span{
    color: var(--main-color);
}
.nav-links{
    list-style: none;
    position: relative;
}
.nav-links > li{
    display: inline-block;
    margin-left: 20px;
    color: #666;
}

.nav-links > li > a{
    text-decoration: none;
    font-size: 17px;
    color: inherit;
    padding-bottom: 5px;
    transition: color .5s ease-in-out;
}
.nav-links > li > a.active{
    color: var(--main-color);
}
.nav-links  i{
    margin-left: 5px;
}
.nav-links > li >  a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.sub-nav{
    position: relative;
}
.sub-nav button{
    background-color: var(--main-color);
    outline: 0;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.sub-nav ul{
    display: none;
    list-style: none;
    position: absolute;
    top: 40px;
    right:0;
    background-color: var(--main-color);
    width: 140px;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.1),
    -1px -1px 5px rgba(0,0,0,.1);
}
.sub-nav ul.open{
    display: block;
}
.sub-nav a{
    text-decoration: none   ;
    display: block;
    color: #fff;
    padding: 10px;
}
.sub-nav a:hover{
    color: var(--main-color);
    background-color: #fff;
}
@media (max-width: 1000px) {
    .nav-bar{
        position: relative;
        padding: 10px 15px;
    }
    .nav-mobile{
        flex: 1;
    }
    .nav-mobile button{
        display: block;
    }
    .nav-links{
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #fff;
        z-index: 999;
        box-shadow: 1px 1px 5px rgba(0,0,0,.1),
        -1px -1px 5px rgba(0,0,0,.1);
    }
    .nav-links.open{
        display: block;
    }
    .nav-links > li{
        display: block;
        margin-left: 0;
    }
    .nav-links > li > a{
        padding: 15px;
        display: block;
        transition: initial;
    }
    .nav-links > li > a.active{
        color: var(--main-color);
    }
    .nav-links > li >  a:hover{
        color: #fff;
        border-bottom:none;
        background-color: var(--main-color);
    }
    .sub-nav button{
        padding: 15px;
        border-radius: 0;
        display: block;
        width: 100%;
    }
    .sub-nav ul{
        width: 100%;
        top: 48px;
    }
}
/*Home rules*/
.form-search{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 95%;
    max-width: 600px;
    box-shadow: 7px 4px 5px rgba(0,0,0,.1),
                -7px -4px 5px rgba(0,0,0,.1);
}
.form-search input{
    padding: 10px 15px;
}
.search-bar{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.search-bar .input{
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.form-search .submit-input{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}